.birthday-pop {
  position: fixed;
  top: 20%;
  width: 100%;
  text-align: center;
  font-size: 22px;
  animation: popFade 2s ease-in-out;
}

@keyframes popFade {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}