.first-page {
  min-height: 100vh;
  background: #fff5f8;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 20px;
  color: #ff5c8a;
}

.birthday-img {
  width: 80%;
  max-width: 280px;
  margin: 15px auto;
}

p {
  font-size: 15px;
  margin: 8px 0;
}

.tap-text {
  margin-top: 20px;
  font-size: 1rem;
  color: #555;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.open-btn {
  margin-top: 12px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  background: #ff4d6d;
  color: white;
  cursor: pointer;
}