.first-page {
  min-height: 100vh;
  background: #fff5f8;
  text-align: center;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  /* font-family: 'Pacifico', cursive; */
  font-size: 1.0rem;
  color: #402353;
}

h3 {
  font-family: 'Pacifico';
  font-size: 1.2rem;
  color: #4b2864;
}

.birthday-img {
  width: 90%;
  max-width: 300px;
  margin: 15px auto;
}

p {
  font-size: 0.95rem;
  margin: 8px 0;
  padding: 0 10px;
}

.tap-text {
  margin-top: 20px;
  font-size: 1rem;
  color: #555;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.open-btn {
  margin-top: 15px;
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 25px;
  border: none;
  width: 80%;
  max-width: 250px;
  background: #754bd5;
  color: white;
  cursor: pointer;
}
@media (max-width: 480px) {
  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  .birthday-img {
    width: 95%;
  }

  .open-btn {
    width: 90%;
  }
}